/***********************************/
/* sg (960) - a simple grid system */
/* Author - Ed Eliot               */
/***********************************/

/* SECTION START: RESET & FONTS */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset,  
p, blockquote, th, td, address, caption, cite, em, strong, abbr, 
acronym, img, article, aside, details, figcaption, figure, footer, header, hgroup, 
menu, nav, section {
    border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}
body {
    font: 13px/1.231 helvetica, arial, clean, sans-serif;
    *font-size: small;
    *font: x-small;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
    font: 100%;
}
ol, ul {
	list-style: none;
}
select, input, textarea, button {
    font: 100% helvetica, arial, clean, sans-serif;
}
input, select {
    vertical-align: middle;
}

/* make HTML5 elements block level */
article, aside, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section {
    display: block;
}
/* SECTION END: RESET & FONTS */

/* SECTION START: GRIDS */
.sg {
    width: 960px;
    margin: 0 auto;
}
/* descendant selector fine for all browsers except IE (versions 6 and below) */
.sg .row > .col1,
.sg .row > .col2,
.sg .row > .col3,
.sg .row > .col4,
.sg .row > .col5,
.sg .row > .col6,
.sg .row > .col7,
.sg .row > .col8,
.sg .row > .col9,
.sg .row > .col10,
.sg .row > .col11,
.sg .row > .col12 {
    float: left;
    margin: 0 10px;
}
.sg .col1 {
    width: 60px;
}
.sg .col2 {
    width: 140px;
}
.sg .col3 {
    width: 220px;
}
.sg .col4 {
    width: 300px;
}
.sg .col5 {
    width: 380px;
}
.sg .col6 {
    width: 460px;
}
.sg .col7 {
    width: 540px;
}
.sg .col8 {
    width: 620px;
}
.sg .col9 {
    width: 700px;
}
.sg .col10 {
    width: 780px;
}
.sg .col11 {
    width: 860px;
}
.sg .col12 {
    width: 940px;
}
.sg .row {
    float: left;
    width: 100%;
}
/* reset margins for first and last columns when nested inside another grid */
.sg .row > .f-nested {
    margin-left: 0;
}
.sg .row > .l-nested {
    margin-right: 0;
}
.sg .row > .nested {
    margin-left: 0;
    margin-right: 0;
}

/* add padding to element - don't add to rows or columns as 
it'll mess with the grid */
.pad {
    padding: 10px;
}
.pad-left {
    padding-left: 10px;
}
.pad-right {
    padding-right: 10px;
}
.pad-left-right {
    padding: 0 10px;
}
/* clear floats */
.sg:after, .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.sg, .clearfix {
    zoom: 1;
}
/* SECTION END: GRIDS */

/**********************************************************************/
/* from here on down is pretty optional - the styles may work well    */
/* as simple default, particularly for wireframing but can easily be  */
/* removed if all you're after is a basic reset and grid system       */
/**********************************************************************/

/* SECTION START: DEFAULT TEXT STYLING */
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
p {
    margin: 10px 0;
}
pre, code {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p:first-child, h1:first-child, h2:first-child, 
h3:first-child, h4:first-child, h5:first-child, 
h6:first-child {
    margin-top: 0;
}
.copy ul li {
    list-style: disc;
}
.copy ol li {
    list-style: decimal;
}
.copy li {
    margin-left: 15px;
}
.copy li li {
    margin-left: 30px;
}
.copy li li li {
    margin-left: 45px;
}
/* SECTION END: DEFAULT TEXT STYLING */

/* DEFAULT TABLE STYLING */
table {
    border-collapse: collapse;
}
thead tr th {
    border: 1px solid #777;
    border-width: 1px 0;
}
tbody tr td {
    border-top: 1px solid #eee;
}
tbody tr:first-child td {
    border: none;
}
th, td {
    padding: 5px;
}
/* SECTION END: DEFAULT TABLE STYLING */

/* SECTION START: MODULES & WIREFRAMING */
.module, .b-module, .f-module {
    margin: 10px 0;
}
.module:first-child, .b-module:first-child, .f-module:first-child {
    margin-top: 0;
}
.b-module {
    border: 1px solid #ccc;
}
.f-module {
    background: #eee;
}
/* SECTION END: MODULES & WIREFRAMING */